.blog {
  display: grid;
  /* make grid responsive */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.blog .article {
  width: 100%;
}
