<h1>Angular Scully Netlify CMS Starter</h1>
<div class="links">
  <a
    mat-stroked-button
    href="https://github.com/mbaljeetsingh/ngscully-netlify-cms-starter"
    color="primary"
    target="_blank"
    >Github</a
  >
  <a
    mat-stroked-button
    href="https://twitter.com/mbaljeetsingh"
    color="primary"
    target="_blank"
    >Twitter</a
  >
  <a
    mat-stroked-button
    href="https://www.baljeetsingh.in/"
    color="primary"
    target="_blank"
    >Website</a
  >
</div>

<h2>Get Started</h2>
<mat-list role="list">
  <mat-list-item role="listitem"
    ><code>
      git clone
      git@github.com:mbaljeetsingh/ngscully-netlify-cms-starter.git</code
    ></mat-list-item
  >
  <mat-list-item role="listitem"><code> cd project</code></mat-list-item>
  <mat-list-item role="listitem"><code> npm install</code></mat-list-item>
  <mat-list-item role="listitem"
    ><code> ng build && npm run scully </code></mat-list-item
  >
</mat-list>
